

.poster {
  grid-area: poster;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./../../img/zashita.png");
  background-position: top right;
  min-height: 450px;
  background-size: cover;

  p {
    transform: translateY(50px);
    color: white;
    font-size: 100px;
    font-family: harry;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #248ffa3f;
  }
}