.Module {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(141, 141, 141);
  padding: 7px 15px;
  label{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}