.course {

  background-color: #000;
  box-shadow: 0 0 10px #00000077;
  position: relative;

  * {
    transition: all ease 0.3s;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: harry;
    font-size: 4em;
    margin-top: -.5em;
    margin-left: -.5em;
  }

  &__img {
    height: 20em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #000000;
    background-position: center;
    background-size: 100%;

    transition: all ease 0.3s;

    opacity: .6;
  }

  &-list {
    display: grid;
    margin: 1em 0 1em;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  &__img p {
    font-family: harry;
    font-size: 60px;
  }

  &__img:hover {

    filter: blur(3px) grayscale(20%);

  }

  &:hover p {
    transform: scale(1.2);
    text-decoration: none;
  }
}